
.w-70 {
    width: 20rem;
	}
.service-bg{
    /* background-image: url('https://image.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg'); */
    background-image: url('https://image.freepik.com/free-vector/abstract-background-with-squares_23-2148995948.jpg');
opacity: 1;
}
