/* .nav-bar{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 20px; 
     font-weight: 600;
}
.site-name{
    font-weight: 600;
    font-size: 25px;
}
.open-learning-initiative-color{
    color: blanchedalmond;
}
.p{
    color:white;
}
.header-conpo{
    margin-bottom: 80px;
}
.header-logout-btn{
    background-color: blanchedalmond;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 5px;
}
.navbar-color{
    background-color: rgb(106 106 106) !important;
} */
.header-input :hover{
    outline: black !important;
    border: 2px solid black  !important;
}