.icon::after{
    content: '';
    display: block;
    position: absolute;
    border-top: 23px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 12px solid #3182ce;
    left: 100%;
    top: 0;
  }
  .left-st{
    left: -40px
  }

  .section-bgg{
   background:url('https://image.freepik.com/free-vector/worldwide-connection-gray-background-illustration-vector_53876-80911.jpg');
   /* background-size: cover;
   background-repeat: no-repeat;
   opacity: 1; */
  }
  .button-color{
      background-color: rgba(0, 0, 0, 0.795) ;
  }