.shipping-form{
    margin:30px ;
}
.shipping-form input {
    display: block;
    margin-top: 15px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
}
.error{
    color: red;
}